h1 {
    color: rgba(216, 213, 213, 0.887);
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px #000000;
}

body {
    background-color: rgb(184, 218, 245);
    font-family: Arial, sans-serif;
    margin: 20;
    padding: 20px;
    color: rgba(71, 71, 71, 0.887);
    line-height: 1.6;
    font-style: bold;
}

button {
    background-color: #7cbf7e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #5aa65a;
    transform: scale(1.05);
    transition: 0.15s;
}

select, input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form {
    max-width: 400px;
    margin: auto;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
